@keyframes mymove {
    from   {
        height: 0%;
    }
    to {
        height: 100%;
    }
}
@keyframes range {
    from {
        width: 0;
    }
    to {
         width: 100%;
    }
}