.single-bg {
    background-color: #f5f5f7;
    background-image: url("../img/single-banner.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}

.post {
    background-color: #fafafa;
    padding: 80px 0;
    h3 {
        @include titleH3(#000, 1.875rem, 10px, 10px);
        text-align: center; 
    }
    &__desc {
        &--item {
            margin: 20px;
            font-size: 0.875rem;
            font-weight: 700;
            a {
                padding: 10px;
                display: block;
                transition: all .5s;
                &:hover {
                    color: #1b1b1b;
                }
            }
        }
        &--img {
            img {
                display: inline-block;
                width: 13px;
                height: auto;
            }
        }
    }
}
.post__blog {
    img {
        width: 100%;
        height: auto;
    }
    &--text {
        padding: 16px 66px;
        font-size: 0.875rem;
        line-height: 30px;
        text-align: left;
    }
    &--quote {
        border: 1px solid #c8c8c8;
        border-left: 4px solid #c8c8c8;
        padding: 25px 40px;
        line-height: 30px;
        text-align: left;
        font-weight: 700;
        font-style: italic;
    }
    h6 {
        @include titleH3(#000, 1rem, 0);
        letter-spacing: 1px;
        font-weight: 700;
        padding: 30px 66px 0;
    }
}
.post-comment {
    padding: 30px 66px 0;
    h4 {
        @include titleH3(#000, 1.25rem, 10px, 50px);
        text-align: center;
    }
    &__input {
        input {
            @include formStyle(32%, 40px);
            background-color: #fafafa;
        }
        
    }
    &__message {
        @include formStyle(100%, 150px);
        background-color: #fafafa;
        resize: none;
        
    }
}
.post-btn {
    background-color: #000;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
    
}